
<sly data-sly-use.model="com.aem.training.site.core.models.HeroModel" >
    <div class="slides" data-sly-list="${model.heroSlides}">
        <p>${item.title}</p>
        <img src="${item.image}">
        <a href="${item.link}">CTA</a>
    </div>
</sly><section id="footer">
    <div class="footer container">

        <h2>Your Complete Web Solution</h2>
        <div class="social-icon">
            <div class="social-item">
                <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/facebook-new.png" /></a>
            </div>
            <div class="social-item">
                <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/instagram-new.png" /></a>
            </div>
            <div class="social-item">
                <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/twitter.png" /></a>
            </div>
            <div class="social-item">
                <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/github.png" /></a>
            </div>
        </div>

    </div>
</section>