

<div class="container">

    <form id="form" class="form">
        <div class="form-control">
            <label for="username">Name</label>
            <input type="text"  id="username" required/>
            <i class="fas fa-check-circle"></i>
            <i class="fas fa-exclamation-circle"></i>
            <small>Error message</small>
        </div>
        <div class="form-control">
            <label for="username">Email</label>
            <input type="email" id="email" required/>
            <i class="fas fa-check-circle"></i>
            <i class="fas fa-exclamation-circle"></i>
            <small>Error message</small>
        </div>
        <div class="form-control">
            <label for="username">Address</label>
            <input type="Address"  id="address" maxlength="100"/>

            <small>Error message</small>
        </div>
        &nbsp;&nbsp;&nbsp;
        Select Country: <select name="state" id="countySel" size="1">
        <option value="" selected="selected">Select Country</option>
    </select>
        <br>
        <br>
        Select State: <select name="countrya" id="stateSel" size="1">
        <option value="" selected="selected">Please select Country first</option>
    </select>
        <br>
        <br>
        Select District: <select name="district" id="districtSel" size="1">
        <option value="" selected="selected">Please select State first</option>
    </select><br>

        <button>Submit</button>
    </form>
</div>

