<div class="card1">
  <img src="/content/dam/Saintbernard.jpg" alt="Denim Jeans" style="width:100%">
  <h1>SaintBernerd</h1>
  <p class="price">$19.99</p>

  <p><button>Add to Cart</button></p>
</div>
<div class="card2">
  <img src="/content/dam/assignment-images/royal2.jpg" alt="Denim Jeans" style="width:100%">
  <h1>Tailored Jeans</h1>
  <p class="price">$19.99</p>
  <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>
  <p><button>Add to Cart</button></p>
</div>
<div class="card3">
  <img src="/content/dam/white%20retriver.jpg.jpg" alt="white retriever" style="width:100%">
  <h1>white retrevier</h1>
  <p class="price">$19.99</p>

  <p><button>Add to Cart</button></p>
</div>
